Email templates from local server not retrievable

# Bug report

## Describe the bug

It is not possible to retrieve mail templates from a server with a local ip adress.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Set env variable `GOTRUE_MAILER_TEMPLATES_CONFIRMATION` to a local ip or domain that gets resolved to a local ip
2. Start docker container
3. Register a new user
4. See default template used and error in console
```
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
{"level":"error","msg":"Cancelled attempted request to ip in private range","time":"2022-12-17T12:27:16Z","transport":"local_blocker"}
2022/12/17 12:27:16 Error loading template from /templates/email/comfirmation.html: Get "https://www.example.com/templates/email/comfirmation.html": context canceled
```

## Expected behavior

The template is retrieved and sent out.

## Screenshots

Not applicable.

## System information

supabase/gotrue:v2.19.4@sha256:c53237780a3669e39aef34de9c82161e289c29ddcded5ae3018f0039f7b02875

## Additional context

Relevant issue from the netlify repository https://github.com/netlify/gotrue/issues/324. Not sure if they will fix this anytime soon, could this be fixed in this fork instead?


Hey @jojomatik, are you running gotrue in a docker environment? If you are, then this issue isn't related to gotrue but it's because localhost in a docker environment refers to the container's localhost and not the docker host. In order to connect to the docker host from the container, you will need to set the environment variable to point to `http://host.docker.internal:MYPORT/path/to/email/template`  

Hi @kangmingtay, yes I'm running in a docker environment and want to access the template. The template is not on the docker host but on another docker container with a local IP (`192.168.x.y`). I'm not sure what `host.docker.internal` resolves to but it seems like gotrue is blocking any LAN-IPs, so I don't actually think this will help. Have you tried it?

Hey @jojomatik, is your other docker container running in the same docker network as the gotrue container? I haven't tried to reproduce it but it would be great if you can provide a reproducible example so i can take a look at it when i'm free. 

I am getting the same issue. I think it stems from the block list listed (followed up the chain of dependencies) to here:

[Netlify http commons](https://github.com/netlify/netlify-commons/blob/main/http/http.go)

`var privateIPBlocks []*net.IPNet

func init() {
	for _, cidr := range []string{
		"127.0.0.0/8",    // IPv4 loopback
		"10.0.0.0/8",     // RFC1918
		"100.64.0.0/10",  // RFC6598
		"172.16.0.0/12",  // RFC1918
		"192.0.0.0/24",   // RFC6890
		"192.168.0.0/16", // RFC1918
		"169.254.0.0/16", // RFC3927
		"::1/128",        // IPv6 loopback
		"fe80::/10",      // IPv6 link-local
		"fc00::/7",       // IPv6 unique local addr
	} {
		_, block, _ := net.ParseCIDR(cidr)
		privateIPBlocks = append(privateIPBlocks, block)
	}
}`



Same issue. It really seems unneccessary to have to host these templates outside the docker environment...

@kangmingtay can we reopen this please?

Hi @hf, is this fixed now or are there any outstanding tasks to be completed? I don't have enough time right now to test myself, but would still be curious. Also we could close the issue if it's fixed

hey everyone, this seems to be resolved already but feel free to reopen it if anyone's still running into the same issue!